@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap');
:root{
    --color1: #7159c1; 
    --color2: white;
    --color3: #777; 
}

*{
    border: none;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--color1);
    font-family: 'Roboto','sans-serif';
}
header{
    background-color: var(--color2);
    box-sizing: border-box;
    padding: 32px;
    text-align: center;
    width: 100%;
}
.menu{
    font-size: 32px;
}
.menu a {
    color: var(--color3);
    text-decoration: none;
    position: relative;
}
.menu a + a { 
    margin-left: 32px;
}
.menu a.active{
    color: var(--color1);
    font-weight: bold;
}
.menu a:hover{
    color: var(--color1);
   
}
.menu a::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--color1);
    position: absolute;
    left: 0;
    bottom: -4px;
}

.menu a:hover::after{
    width: 100%;
    transition: width 700ms ease-in-out;

}

 /* == card == */ 
 .card{
     background-color: var(--color2);
     box-shadow: 0px 2px 6px 7px rgba(0, 0, 0, 0.7);
     height: 400px;
     margin: 45px auto;
     width: 800px;
     display: grid;
     grid-template-columns: 1fr 1fr;
     
     /*anmimação*/ 
     animation-name: up;
     animation-duration: 700ms;
     animation-fill-mode: forwards;
     animation-timing-function: ease-out;
     animation-delay: 1s;
     animation-play-state: running;

     opacity: 0;
         
 }

 @keyframes up{
     from{
         transform: translateY(15px);
     }
     to{
         opacity: 1;
     }
 }
